.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;
    padding: 20px;

    width: 400px;
    height: 500px;
    border-radius: 15px;

    background-color: #e7e7e7;
    box-shadow: 0px 5px 10px #4c4c4ca3;
}

#start_button{
    display: block;
    margin: 0 auto;

    width: 200px;
    line-height: 2em;    
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    
    outline: none;
    color: #FFFFFF;
    background-color: #0095ffa3;

}